@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-image-lg {
    background-image: url('../src/images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-color: blueviolet;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.bg-image-sm {
    background-image: url('../src/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: blueviolet;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: 100vh;
} */